In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train= pd.read_csv("train.csv")

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
train.shape

(891, 12)

In [6]:
train.drop('PassengerId', axis=1, inplace=True)
train.drop('Name', axis=1, inplace=True)

In [7]:
train.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [8]:
missing=train.isnull().sum()
missing=missing[missing>0]
missing=missing/train.shape[0]
missing

Age         0.198653
Cabin       0.771044
Embarked    0.002245
dtype: float64

In [9]:
train[train['Survived']==1]['Survived'].count()

342

In [10]:
train[train['Survived']==0]['Survived'].count()

549

In [11]:
numerical_features= train.select_dtypes(include=[np.number])
numerical_features

     Survived  Pclass   Age  SibSp  Parch     Fare
0           0       3  22.0      1      0   7.2500
1           1       1  38.0      1      0  71.2833
2           1       3  26.0      0      0   7.9250
3           1       1  35.0      1      0  53.1000
4           0       3  35.0      0      0   8.0500
..        ...     ...   ...    ...    ...      ...
886         0       2  27.0      0      0  13.0000
887         1       1  19.0      0      0  30.0000
888         0       3   NaN      1      2  23.4500
889         1       1  26.0      0      0  30.0000
890         0       3  32.0      0      0   7.7500

[891 rows x 6 columns]

In [12]:
categorical_features= train.select_dtypes(include=[object])
categorical_features

        Sex            Ticket Cabin Embarked
0      male         A/5 21171   NaN        S
1    female          PC 17599   C85        C
2    female  STON/O2. 3101282   NaN        S
3    female            113803  C123        S
4      male            373450   NaN        S
..      ...               ...   ...      ...
886    male            211536   NaN        S
887  female            112053   B42        S
888  female        W./C. 6607   NaN        S
889    male            111369  C148        C
890    male            370376   NaN        Q

[891 rows x 4 columns]

In [13]:
correlation= numerical_features.corr()
correlation

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [14]:
test= pd.read_csv("test.csv")

In [15]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [16]:
test.shape

(418, 11)

In [17]:
test.drop('PassengerId', axis=1, inplace=True)
test.drop('Name', axis=1, inplace=True)

In [18]:
test.isnull().sum()

Pclass        0
Sex           0
Age          86
SibSp         0
Parch         0
Ticket        0
Fare          1
Cabin       327
Embarked      0
dtype: int64

In [19]:
missing=test.isnull().sum()
missing[missing>0]/test.shape[0]

Age      0.205742
Fare     0.002392
Cabin    0.782297
dtype: float64

In [20]:
train.drop('Cabin', axis=1, inplace=True)
test.drop('Cabin', axis=1, inplace=True)

In [21]:
train['Age']=train['Age'].fillna(train['Age'].mean())
test['Age']=test['Age'].fillna(test['Age'].mean())

In [22]:
train['Embarked']=train['Embarked'].fillna('None')

In [23]:
test['Fare']=test['Fare'].fillna(test['Fare'].mean())

In [24]:
train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
dtype: int64

In [25]:
test.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
dtype: int64

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
categorical_features= train.select_dtypes(include=[object])
categorical_features

        Sex            Ticket Embarked
0      male         A/5 21171        S
1    female          PC 17599        C
2    female  STON/O2. 3101282        S
3    female            113803        S
4      male            373450        S
..      ...               ...      ...
886    male            211536        S
887  female            112053        S
888  female        W./C. 6607        S
889    male            111369        C
890    male            370376        Q

[891 rows x 3 columns]

In [28]:
for c in categorical_features:
    le= LabelEncoder()
    train[c]=le.fit_transform(train[c])

In [29]:
for c in categorical_features:
    le= LabelEncoder()
    test[c]=le.fit_transform(test[c])

In [30]:
X_train=train.drop(['Survived'], axis=1)
Y_train=train['Survived']
X_test=test

In [31]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [32]:
from sklearn.svm import SVC
model=SVC()
model.fit(X_train, Y_train)
Y_pred= model.predict(X_train)

In [33]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [34]:
print(classification_report(Y_train, Y_pred))

              precision    recall  f1-score   support

           0       0.85      0.90      0.87       549
           1       0.82      0.75      0.79       342

    accuracy                           0.84       891
   macro avg       0.84      0.83      0.83       891
weighted avg       0.84      0.84      0.84       891

In [35]:
print(accuracy_score(Y_train, Y_pred))

0.8417508417508418

In [36]:
from sklearn.linear_model import LogisticRegression

In [37]:
reg= LogisticRegression()

In [38]:
X_test=test

In [39]:
reg.fit(X_train, Y_train)

LogisticRegression()

In [40]:
Y_pred=reg.predict(X_train)

In [41]:
confusion_matrix(Y_train, Y_pred)

array([[469,  80],
       [ 99, 243]])

In [42]:
print(classification_report(Y_train, Y_pred))

              precision    recall  f1-score   support

           0       0.83      0.85      0.84       549
           1       0.75      0.71      0.73       342

    accuracy                           0.80       891
   macro avg       0.79      0.78      0.79       891
weighted avg       0.80      0.80      0.80       891

In [43]:
print(accuracy_score(Y_train, Y_pred))

0.7991021324354658